:root {
	--text-primary: #b6b6b6;
	--text-secondary: #ececec;
	--bg-primary: #23232e;
	--bg-secondary: #141418;
	--transition-speed: 0.4s;

	--blue-dark: #7bdff2;
	--blue-light: #b2f7ef;

	--pink-light: #ff7eee;
	--pink-dark: #df49a6;
}

html {
	overflow-y: scroll;
}

html,
body {
	font-size: 62.5%;
}

body {
	position: relative;
	font-size: 1.6rem;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	color: var(--text-primary);
	background-color: var(--bg-secondary);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body::-webkit-scrollbar {
	width: 0.4rem;
}

body::-webkit-scrollbar-track {
	background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
	background: var(--text-primary);
}

a {
	text-decoration: none;
	color: var(--blue-dark);
}

a:hover,
a:focus {
	text-decoration: underline;
}

@keyframes slide {
	0% {
		opacity: 0;
		top: 0;
	}
	50% {
		opacity: 1;
	}
}
