.User {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
   gap: 4.5rem;
   align-items: stretch;
   margin-top: 2rem;
}

.LoaderContainer {
   position: relative;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
