.Navbar {
	width: 8rem;
   position: fixed;
   height: 100vh;
	background-color: var(--bg-primary);
	transition: width var(--transition-speed) ease;
}

.NavbarNav {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.NavItem {
	width: 100%;
}

.NavLink {
	display: flex;
	align-items: center;
	height: 8rem;
	color: var(--text-primary);
   text-decoration: none;
   filter: grayscale(100%) opacity(0.7);
   transition: var(--transition-speed);
}

.NavLink:hover {
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.LinkText {
	display: none;
   margin-left: 1.6rem;
   margin-bottom: .2rem;
}

.NavLink svg {
	min-width: 3.2rem;
	margin: 0 2.4rem;
}

.Navbar:hover {
	width: 25.5rem;
}

.Navbar:hover .LinkText {
	display: block;
}

.Logo {
   font-weight: 700;
   margin-bottom: 1.6rem;
   text-align: center;
   color: var(--text-secondary);
   background: var(--bg-secondary);
   font-size: 2.4rem;
   letter-spacing: 0.3ch;
   width: 100%;
   user-select: none;
}

.Logo svg {
   transform: rotate(0deg);
   transition: transform var(--transition-speed);
}

.Navbar:hover .Logo svg {
   transform: rotate(-180deg);
}

.ActiveLink {
   filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.Navbar:hover .Logo .NavLink {
   filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

@media only screen and (max-width: 600px) {
   .Navbar {
      bottom: 0;
      width: 100vw;
      height: 8rem;
   }

   .NavbarNav {
      flex-direction: row;
   }

   .Navbar:hover {
      width: 100vw;
      color: #FFFFFFBB;
   }

   .Navbar:hover .LinkText {
      display: none;
   }

   .NavLink {
      justify-content: center;
   }

   .Logo {
      display: none;
   }
}