.Container {
	flex: 1;
	margin-top: auto;
	position: relative;
	animation: progress .8s ease-out forwards;
}

.Letter {
	position: absolute;
	left: 50%;
	top: -2rem;
	transform: translateX(-50%);
	text-align: center;
}

.Bar {
	height: 100%;
	margin: 0 20%;
	border-radius: 10px 10px 0 0;
}

@keyframes progress {
	0% {
		height: 0;
	}
}
