.Break {
   display: flex;
   padding: 4rem 0;
   align-items: center;
}

.BreakText {
   margin: 0 1rem;
   font-size: 1rem;
   word-wrap: none;
   hyphens: none;
   white-space: nowrap;
}

.Line {
   height: 1px;
   width: 100%;
   background-color: var(--text-primary);
   
   flex: 1fr;
}