.Content {
   margin-left: 8rem;
   padding: 4.5rem;
   min-height: 100vh;
   position: relative;
}

@media only screen and (max-width: 600px) {
   .Content {
      margin-left: 0;
      padding-bottom: 12.5rem;
   }
}